#name1 {
    font-size: 20px;
    font-weight: bold;
}

#name2 {
    font-size: 20px;
    font-weight: bold;
}

#name3 {
    font-size: 20px;
    font-weight: bold;
}

#name4 {
    font-size: 20px;
    font-weight: bold;
}